extends layout.pug

block headscripts
  script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11")

block content
    .d-md-flex.flex-md-row-reverse.viewport
      .p-4.mb-4.justify-content-center.d-flex.flex-column.text-center.col-md-8
        h1.h2.brand.mb-0
          span#typed Acme Transactions
      form(action="/login").d-flex.flex-column.box.p-4.col-md-4.mb-0.scrollarea
        .container
          .form-group.row
            label(for="market") Market
            select.form-control(name="market" id="market").mb-3
              each opt in marketOptions
                option(value=opt.value selected=opt.value == 'SE')= opt.label
          .form-group.form-check.row
            input.form-check-input(type="checkbox" name="test" id="test" value="test")
            label.form-check-label(for="test") Test providers
          .row
            button(type="submit").btn.btn-primary.btn-block Connect your bank

block footer
  script.
    var typed2 = new Typed('#typed', {
      strings: [
        'Acme Transactions',
        'view your bank transactions',
        'search them',
        'categorised',
        'explore similar',
        'see your accounts',
        'and your loans',
        'powered by Tink'
      ],
      startDelay: 1000,
      typeSpeed: 100,
      backSpeed: 20,
      backDelay: 1000,
      loop: true
    });

