:root {
    --bg: rgb(245, 248, 249);
    --text-color: #212121;
    --sidebar-width: 300px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cousine', monospace;
    background-color: var(--bg);
    color: var(--text-color);
}

.brand {
    font-family: 'Cousine', monospace;
    font-weight: bold;
    line-height: 1.1;
}

h1,h2,h3 {
    font-weight: 400;
}

.viewport {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.sum {
    font-size: 52px;
}

.box {
    background-color: #fff;
}

.scrollarea {
    overflow-y: auto;
}

.transaction-logo {
    background-color: rgba(255,255,255,0.28);
    width: 40px;
    height: 40px;
}

.title {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.list-item:first-child {
    margin-top: 2px;
}

.vh {
    height: 100vh;
}

.center-column {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.date {
    width: 100%;
}

.loading {
    opacity: 0.25;
}

.loader-centered {
    left: 50%;
    transform: translateX(-50%);
}

.sidebar {
    width: var(--sidebar-width);
    overflow-y: auto;
    flex: none;
}

.search .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: 2px 0 8px 1px rgba(0,0,0,0.28);
    left: 0;
    transition: left 250ms ease-out;
}

.search .sidebar.sidebar--closed {
    left: calc((var(--sidebar-width) + 1rem) * -1);
}

@media (min-width: 768px) {
    .sidebar {
        height: 100vh;
    }

    .search .sidebar {
        position: static;
        box-shadow: none;
    }
}

.faded {
    opacity: 0.5;
}

.site-header {
    height: 128px;
    flex: none;
}

.alert-container {
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.alert-glass {
    background-color: rgba(0, 0, 0, 0.87);
}

.form-actions {
    justify-content: space-between;
}

.is-hidden {
    visibility: hidden;
}

.drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 250ms ease-out;
    width: 400px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    z-index: 20;
}

.drawer.is-closed {
    transform: translateX(100%);
}

.btn.btn--link {
    padding: 0;
    color: #fff;
}

.btn.btn--link:hover {
    text-decoration: underline;
}

.btn--naked {
    border: none;
    background: transparent;
}

.btn--naked:focus,
.btn--naked:active {
    outline: none;
}

.btn--inverted {
    border-radius: 0;
}

.btn--inverted:hover {
   background-color: black;
   color: #fff;
}

.list-group--glass .list-group-item {
    background-color: transparent;
    color: inherit;
    border-color: rgba(255,255,255,0.08);
}

.list-group--glass .list-group-item:active,
.list-group--glass .list-group-item:focus,
.list-group--glass .list-group-item:hover {
    background-color: rgba(0,0,0, 0.27);
}

.dashed-top,
hr.dashed {
    position: relative;
}

.dashed-top:before,
hr.dashed:before {
    top: -.5rem;
}

.dashed-top:before,
hr.dashed:before,
.dashed-bottom:after {
    content: "– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –";
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 1rem;
    line-height: 1;
    word-wrap: break-word;
    text-align: justify;
    letter-spacing: -.25rem;
    font-size: 1rem;
    color: #e0e0e0;
}
